body {
  margin: 0;
  background-color: #222222;
}

#app {
  display: flex;
  min-height: 100vh;
}

#app>* {
  margin: auto;
}

canvas {
  border-radius: 4px;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.25);
}